*{
    font-family: Verdana;
    font-size: 13px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

div {
    border-bottom: dashed;
    width: 1000px;
}

.header {
    height: 120px;
    background-color: #210439;
}

#logo{
    height: 120px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#titleText{
    margin-left: 500px;
    color: white;
    font-size: 2rem;
}

.menu {
    height: 50px;
}

.pattern {
    height: 100px;
    background-image: url('img/pattern.jpg');
    background-repeat: repeat;
}

.centralImg {
    height: 300px;
    overflow: hidden;
    overflow-y: inherit;
    
}

.centralImg img {

}

.grades {
    height: 250px;
}

.languages {
    height: 300px;
}

.footer {
    height: 100px;
}