* {
    box-sizing: border-box;
  }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

div {
    border-bottom: 2px dashed black;
}

.header {
    height: 120px;
    background-color: #210439;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#titleText {
    display: inline-block;
    color: white;
}

#titleText h1 {
    padding-left: 500px;
    font-size: 2rem;
}

#titleText p {
    padding-left: 540px;
}

.menu {
    height: 50px;
}

.menu ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    height: 100%;
    float: left;
    background-color: #9376AC;
    display: flex;
    text-align: center;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-right: 1px solid white;
    padding: 13px 20px;
}

.menu li:last-child {
    border-right: none;
}

.pattern {
    height: 100px;
    background-image: url('img/pattern.jpg');
    background-repeat: repeat;
}

.centralImg img{
    max-width: 1000px;
}

.centralImg {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.grades {
    height: 250px;
    background-color: #DCDCDC;
}

.grades table {
    border: 1px solid black;
  }

.grades table:first-child td:first-child{
    border-bottom: 1px solid black;
}

.languages {
    height: 300px;
}
.language-block {
    padding-top: 5px;
    width: 25%;
    text-align: center;
    float: left;
    border-left: 1px solid black;
}

.language-block:last-child {
    border-right: 1px solid black;
}

.language-block p{
    font-weight: bold;
    font-size: 20px;
}

.language-block img {
    width: 100%;
    opacity: 0.5;
}

.footer {
    height: 100px;
    background-color: #210439;
    color: white;
    position: relative;
}

.footer #top-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer #bottom-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}